body {
    box-sizing: border-box;
    background-image: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;

}

h1 {
    font-family: "lobster", sans-serif;
    font-size: 3rem;
    color: white;
}

.piskvorky {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    overflow: auto;
    margin-block: 20%;
}

.piskvorky__uvod {
    line-height: 0;
}

.piskvorky img {
    width: 100%;
    border-radius: 3% 3% 0 0;
    margin: 0;
}

.piskvorky__popis {
    background-color: #283e50;
}

.piskvorky__tlacitka {
    display: flex;
    flex-direction: column;
}

.tlacitka__pravidla,
.tlacitka__hra {
    padding: 1rem;
}

.tlacitka__pravidla {
    background-color: #1fcca4;
    border-bottom: solid ggit#283e50;
}

.tlacitka__hra {
    background-color: #0197f6;
}

a:link {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
    text-decoration: none;
}

.tlacitka__pravidla:hover {
    background-color: #1cbb96;
}

.tlacitka__hra:hover {
    background-color: #0090e9;
}

/*---------------------------------------SEKCE HRA.HTML-------------------------------------------------------------*/

.hra {
    max-width: 80vmin;
    overflow: auto;
}

.hra__nav {
    display: flex;
}

.hra__domu,
.hra__opakovat {
    margin-left: auto;
}

.hra__grid {
    display: grid;
    grid-template-columns: repeat(10, 2rem);
    grid-template-rows: repeat(10, 2rem);
    width: 100%;
    height: 100%;
    gap: 1px;
}

.grid__item {
    border: 1px solid black;
}


/* .tlacitka__pravidla,
a:hover {
    background-color: #2d554b;
}

.tlacitka__hra,
a:hover {
    background-color: #304b5c;
} */
