* {
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;

}

h1 {
    font-family: "lobster", sans-serif;
    font-size: 3rem;
    color: white;
}

.piskvorky {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    overflow: auto;
    margin-block: 20%;
}

.piskvorky__uvod {
    line-height: 0;
}

.piskvorky img {
    width: 100%;
    border-radius: 3% 3% 0 0;
    margin: 0;
}

.piskvorky__popis {
    background-color: #283e50;
}

.piskvorky__tlacitka {
    display: flex;
    flex-direction: column;
}

.tlacitka__pravidla,
.tlacitka__hra {
    padding: 1rem;
}

.tlacitka__pravidla {
    background-color: #1fcca4;
    border-bottom: solid ggit#283e50;
}

.tlacitka__hra {
    background-color: #0197f6;
}

a:link {
    color: white;
    text-decoration: none;

}

a:visited {
    color: white;
    text-decoration: none;
}

.tlacitka__pravidla:hover {
    background-color: #1cbb96;
}


.tlacitka__hra:hover {
    background-color: #0090e9;
}


/*---------------------------------------SEKCE HRA.HTML-------------------------------------------------------------*/

.hra {
    max-width: 80vmin;
}

.hra__hlavicka h1 {
    margin: 0;
}

.nav {
    display: flex;
}

.nav__hraje,
.nav__tlacitka {
    display: flex;
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.nav__hraje {
    align-items: center;
}

.nav__tlacitka {
    justify-content: flex-end;
}

.hraje__hrac {
    color: white;
    font-weight: bold;
    margin: 1rem;
}

.tlacitka__domu,
.tlacitka__opakovat {
    padding: 0.4rem;
    margin: 2%;
    border-radius: 10%;
    outline: none;
    border: none;

}

.tlacitka__domu a,
.tlacitka__opakovat a {
    width: 100%;
    height: 100%;
    position: relative;
}

.tlacitka__domu {
    background-color: #1fcca4;
}

.tlacitka__opakovat {
    background-color: #0197f6;
}

.hra__grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    aspect-ratio: 1 / 1;
    width: 90vw;
    max-width: 80vmin;
    gap: 0;
    border: 2px solid black;

}

.grid__item {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0%;
    border: none;
    outline: 1px solid black;


}

.grid__item:focus,
.grid__item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.tlacitka__domu:focus,
.tlacitka__domu:hover {
    background-color: #1cbb96
}

.tlacitka__opakovat:focus,
.tlacitka__opakovat:hover {
    background-color: #0090e9
}

.board__field--circle {
    background-image: url(./podklady/circle-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.board__field--cross {
    background-image: url(./podklady/cross-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
