body {
    background-image:linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    
}


.piskvorky {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    overflow: auto;
}

.piskvorky__popis h1{
    font-family: "lobster", sans-serif;
    font-size: 3rem;
}

.piskvorky img {
    width: 100%;
}

.piskvorky__popis {
    background-color: #283e50;
    color: white;
}
 
.piskvorky__tlacitka {
    display: flex;
    flex-direction: column;
}

.tlacitka__pravidla,
.tlacitka__hra {
    padding: 1rem;
}


/*
.piskvorky__foto {
    width: 100%;
    overflow: auto;
}

.piskvorky__popis {
    
    margin: 0;
    text-align: center;
}


}

.pravidla {
    background-color: #1fcca4;
}

.hra {
    background-color: #0197f6;
}

a:link {
    color:white;
    text-decoration: none;
    bord
}
a:visited {
    color: white;
    text-decoration: none;
} */
